<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
     <meta name="viewport" content="width=device-width,minimum-scale=1">

     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
     <link  href="https://fonts.google.com/?selection.family=Roboto:100,300,400" rel="stylesheet"  type='text/html'>
     <link   href="../assets/jquery.sidr.dark.min.css" rel="stylesheet">
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %> 
     <%= javascript_include_tag 'application' %>
     <%= csrf_meta_tags %>
     <script>
       $(document).ready(function() {
         $('#simple-menu').sidr({
          displace: false
         });
         $('.icon-close').click(function(){ // when 'icon-close' is clicked…
        $.sidr('close', 'sidr');  // close the div with the ID of "sidr"
          });
      });
     </script>
 </head>
<body>
  
<div id="sidr"> 
        <ul> 
          <li><a href="/">Home</a></li> 
          <li><a href="/about">About</a></li>
          <li><a href="/signups/new">Contact</a></li> 
        </ul> <%= image_tag('close.png', size: "30x40", :class => "icon-close", alt: "Close") %>

</div> 


<%= yield %>
  
  


  <div class="footer">
     <div class="container"> 
       <p>AKiiki Kasaija Project</p> 
     </div> 
   </div>


</body>
</html>
